<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}Lazyweb{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <link rel="icon"
      type="image/png"
      href="/static/img/favicon.png">
    <script src="/static/js/vue.js"></script><!-- USE vue@2.js IN PROD-->
    <script src="/static/js/axios.min.js"></script>
</head>
<body>

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>
