{% extends "base.html" %}

{% block title %}Lazyweb - Index{% endblock %}

{% block content %}

<div id="app">
  <h1><a href="/">Lazyweb</a></h1>

  Some data: {{ somedata }}
  <br><br>
  Some list data:
  <ul>
    <li v-for="datum in somelistdata">{{ datum }}
  </ul>

  <input type="number" v-model="somenumber"></input>
  <button @click="request('square', {'number': somenumber})">Calculate square on server</button><br><br>
  Result: {{ someresult }}

</div>

{% endblock %}

{% block scripts %}

<script>

var app = new Vue({
  el: '#app',
  data: {
    somedata: %% somedata|tojson %%,

    somelistdata: %% somelistdata|tojson %%,

    somenumber: 7,
    someresult: null
  },
	methods: {
    request(path, data) {
      axios.post("/"+path, data)
      .then(function (response) {
        for (const [key, value] of Object.entries(response.data)) {
          app[key] = value
        }
      })
    },
	}
})

</script>

{% endblock %}
